<template>
  <h1> Componente Olá mundo</h1>
</template>

<script>
export default {
  name: 'HelloWorld',
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
